{% extends 'base.html' %}
{% block conteudo %}

<h2 style="text-align: center;">Sobre o Projeto</h2>
<hr>

<div style="text-align: center;">
    <!-- Substitua a URL abaixo pela URL da sua foto -->
    <img src="https://i.ibb.co/yfCwMbn/Imagem-do-Whats-App-de-2024-05-17-s-10-45-30-bf063cfb.jpg" alt="Foto de Lucas Santos" style="width: 200px; height: auto; border-radius: 50%; margin-bottom: 20px;">
</div>

<p>
    Este projeto é um aplicativo web desenvolvido usando Flask que se conecta à API do The Movie Database (TMDb) para exibir informações sobre filmes e séries populares. A aplicação possui diferentes rotas que permitem ao usuário visualizar filmes e séries por popularidade e avaliação, e ainda tem uma página inicial que mostra os cinco filmes e séries mais populares.
</p>

<h3>Funcionalidades</h3>
<p>
    - <strong>Página Principal</strong>: Exibe os cinco filmes e séries mais populares usando a API do TMDb.<br>
    - <strong>Página de Filmes/Séries</strong>: Exibe listas de filmes ou séries com base em popularidade ou avaliação.<br>
    - <strong>Página Sobre</strong>: Esta página fornece informações sobre o projeto e seu funcionamento.
</p>

<h3>Tecnologias Utilizadas</h3>
<p style="text-align: center;">
    <img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white" alt="Python">
    <img src="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white" alt="Flask">
    <img src="https://img.shields.io/badge/TMDB-01D277?style=for-the-badge&logo=tmdb&logoColor=white" alt="TMDB">
    <img src="https://img.shields.io/badge/HTML-E34F26?style=for-the-badge&logo=html5&logoColor=white" alt="HTML">
    <img src="https://img.shields.io/badge/CSS-1572B6?style=for-the-badge&logo=css3&logoColor=white" alt="CSS">
    <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" alt="JavaScript">
</p>

<hr>

<h3 style="text-align: center;">Contatos</h3>
<p style="text-align: center;">
    Sinta-se à vontade para entrar em contato caso tenha alguma dúvida ou sugestão.
</p>
<p style="text-align: center;">
    <a href="https://www.linkedin.com/in/lucas-santos-0245482b2" target="_blank">
        <img src="https://img.shields.io/badge/LinkedIn-0A66C2?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn">
    </a>
    <a href="mailto:lucas.damasceno.santos@icen.ufpa.br">
        <img src="https://img.shields.io/badge/Email-D14836?style=for-the-badge&logo=gmail&logoColor=white" alt="Email">
    </a>
    <a href="https://www.instagram.com/luke__santos_/" target="_blank">
        <img src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white" alt="Instagram">
    </a>
</p>

{% endblock conteudo %}
